<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="DIContext"
         connectionString="Server=THIENTT-LAPTOP\SQLSERVER2016;Database=WcfDependecyInjection;User Id=sa;
Password=@abc123;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>